.table-head {
    background-color: rgba(166, 200, 65, 255);
    color: white !important;
}

.table {
    border-color: rgba(166, 200, 65, 255);
}

.table-head-content {
    border-right-color: grey;
}