.item-card-image {
    height: 180px;
    cursor: pointer;
    object-fit: cover;
    margin: auto;
}

.item-card {
    box-shadow: 0 5px 8px -3px grey !important;
    border: none !important;
}

.card-content-text {
    font-size: 14px;
    font-weight: 700;
}

.grid-item-circle-button-red {
    background-color: rgba(237, 32, 10, 255);
    border: 1px solid rgba(237, 32, 10, 255);
    padding: 4px 11px 9px 12px;
    border-radius: 30px;
}

.grid-item-circle-button-green {
    background-color: rgba(8, 236, 128, 255);
    padding: 4px 11px 9px 12px;
    border: 1px solid rgba(8, 236, 128, 255);
    border-radius: 30px;
}

.modal-ok-button {
    background-color: rgba(97, 0, 238, 255);
    border: 1px solid rgba(97, 0, 238, 255);
}

.grid-item-icons {
    font-size: 15px;
}