.form {
    margin: auto;
    width: 50%;
    border: 1px solid rgba(186, 186, 186, 0.71);
    border-radius: 10px;
    box-shadow: 0 3px 8px -2px grey !important;
}

.form-labels {
    font-size: 17px;
    font-weight: 600;
}

.form-submit-button {
    background-color: white;
    color: rgba(97, 0, 238, 255);
    font-weight: 600;
    border-color: rgba(97, 0, 238, 255);
}

.input-error {
    border-color: red;
}

@media only screen and (max-width: 1000px) {
    .form {
        width: 100%;
    }
}