.top-nav-bar-long-button {
    background-color: rgba(97, 0, 238, 255);
    border: 1px solid rgba(97, 0, 238, 255);
    border-radius: 25px;
}

.top-nav-bar-circle-button {
    background-color: rgba(97, 0, 238, 255);
    border: 1px solid rgba(97, 0, 238, 255);
    padding: 4px 11px 9px 12px;
    border-radius: 30px;
}

.top-nav-bar-icons {
    font-size: 15px;
}

.top-nav-bar-add-employee-col {
    text-align: right;
}